# OS metadata
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Diagnostic logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node modules at root (if any)
node_modules/
dist/
build/
