MONGODB_URI=mongodb://localhost:27017/follower_shop
RAZORPAY_KEY_ID="type yours"
RAZORPAY_KEY_SECRET="type yours"
PORT=3000
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
FRONTEND_URL=http://localhost:5173
